QWidget{
    Background: #3C3F41;
    color:#A3A3A4;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
    border-radius: 1px;
}

QMenuBar::item {
    spacing: 5px; /* spacing between menu bar items */
    padding: 4px 4px 4px 4px;
    background: transparent;
    font:11px bold;
}

QToolBar {
    spacing: 3px; /* spacing between items in the tool bar */
    padding: 4px 4px 4px 4px;
}


QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background: #666666;
}

QMenu::item:selected {
    background: #666666;
}

QToolButton{
    Background: transparent;
    padding: 5px 0px 5px 5px;
}

QToolButton:hover{
    Background: #666666;
}