html, body {
  margin: 0px;
  overflow: hidden;
}

canvas {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  display: block;
  position: absolute;
  z-index: 1;    
}

#stats {
  position: absolute;
  left: 0px;
  top: 0px;
}
