#toggler {
  width: 20%;
  height: 20%;
  position: relative;
  z-index: 2;
}

#data-controller {
    line-height:30px;
    background-color:rgba(238, 238, 238, 0);
    height:300px;
    width:150px;
    float:left;
    padding:5px;
}
