QWidget{
    Background: #3C3F41;
    color:#A3A3A4;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    font:13px bold;
    font-style: normal;
	font-variant: normal;
	font-weight: 400;
    border-radius: 1px;
}

QLineEdit{
    Background: #2B2B2B;
    padding: 4px 4px 4px 4px;
}

QComboBox{
    Background: #2B2B2B;
    padding: 4px 4px 4px 4px;
}

QPushButton{
    Background: #2B2B2B;
    padding: 8px 8px 8px 8px;
    border-radius: 5px;
}


